body {
    background-color:   #3f1414;
    background-image:   url('../img/tache-tile.png');

    overflow:           hidden;
}

/*Styles for video. Attempt to make it fluid*/

.video-wrapper {
	position:           relative;
    padding-bottom:     56.25%;
    padding-top:        0px;
    height:             0;
    
    margin-left:        auto;
    margin-right:       auto;

}
.video-wrapper iframe {
	position:           absolute;
    top:                0;
    left:               20%;
	width:              60%;
	height:             60%;
    margin-top:         190px;
}


.logo {
    width:              1800px;
    height:             160px;
    position:           absolute;
    left:               50%;
    margin-left:        -900px;
    padding-top:        15px;
}