html {
    overflow-x:         hidden;
}

body {
    background-color:   #3f1414;
    background-image:   url('../img/tache-tile.png');
    position:           relative;
    margin:             0px;
    overflow-x:         hidden;
}

.video-wrapper {
    margin-top:         185px;
    width:              66%;
}

/*remember to fix overflow bug*/
.logo {
    width:              1800px;
    height:             160px;
    position:           absolute;
    left:               50%;
    margin-left:        -900px;
    padding-top:        15px;
}

.see-me-live {
    float:              right;
}

/*credit styles*/
.credit-container {
    margin-bottom:      30px;
    clear:              both;
}
.credits, a {
    font-family:        'universal_accreditationRg';
    font-size:          32px;
    color:              #f2e4bd;
    text-align:         center;
    text-decoration:    none;
    margin:             0px;
    height:             15px;
    margin-top:         12px;
}

.small-credit {
    font-size:          22px;
}

a:hover {
    color:              #e2a817;
}

.me-images {
    height:             28px;
    vertical-align:     top;
    padding-top:        1px;
}

